$c-gray: #eee;
$blue-color: #0075ff;
$dark-blue-btn:#005ecc;
$page-blocks-top-indent: 152px;
$page-blocks-bgcolor: #fff;
$page-content-width: 1200px;
$small-content-width: 280px;
$content-padding: 120px;
$small-content-padding: 20px;
